body {
    background: rgb(59, 214, 168);
    margin-top: 100px;
}

h1 {
    padding-top: 15px;
    text-align: center;
}
#calc-body{
    margin: 0 auto;
    background: rgb(138, 131, 131);
    width: 350px;
    height: 500px;
    border-radius: 10%;
}


#display-text {
    display: inline-block;
    margin: 10px;
    width: 90%;
    color: white;
    font-size: 50px;
    text-align: right;
    
}

#calc-display {
   
    width: 80%;
    margin: 0 auto;
    height: 15%;
    background: rgb(24, 22, 22);
    border-radius: 1em;
    
}

#calc-keys {
    width: 275px;
    margin: 0 auto;
    padding: 5px;
    display: grid;
    height: 60%;
    grid-template-rows: repeat(5,60px);
    grid-template-columns: repeat(4, 70px);
    justify-content: start;



}


.key {
    font-size: 32px;
    margin-top: 10px;
    width: 60px;
    height: 50px;
    border: 4px solid rgba(3, 39, 53, 0.219);
    outline: none;
}
.press {
    border: 0;
}

.key[value="="]{
    background: orangered;
    color: white;
    
}